# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

#Generated artifacts
*.xsa
argus_neural_codec.gen/
argus_neural_codec.cache/
*.runs/
rigel_lopper/
_ide/
argus_neural_codec.hw/
argus_neural_codec.ip_user_files/
argus_neural_codec.srcs/sources_1/bd/*/ip/
