# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

#Generated artifacts
*.xsa
arty_z7_hello_hw.gen/
arty_z7_hello_hw.cache/
*.runs/
rigel_lopper/
_ide/
arty_z7_hello_hw.hw/
arty_z7_hello_hw.ip_user_files/
.srcs/sources_1/bd/design_1/ip/
arty_z7_hello_hw.srcs/sources_1/bd/design_1/ip/
